include navigation.pug
.bodyContainer
  .mainPanel
    .articleContainer
      .articleImage
        img(src="" width="100%")
      .articleContent
        h3 This  to make it very long to see what happens
        span(class="aboutArtlicle") By New york times
  
    
  .sideRightPanel
    h3 This is Side

  
